
.bmi_container{
  height: 100vh;
  padding: 20px;
}
.bmi_div{
  padding: 50px;
}
.inputs{
  display: block;
  height: 50px;
  outline: none;
  border: solid 1px rgb(3, 164, 65);
  width: 300px;
  margin-top: 15px;
  padding-left: 10px;
  border-radius: 10px;
}